.leftPanelFlight {
  width: 25%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  float: left;
}
.leftPanel {
  width: 40%;
  margin-left: 1%;
  margin-right: 5%;
  margin-top: 2%;
  float: left;
}
.leftPanelDesc {
  width: 40%;
  float: left;
}
.rightPanel {
  width: 45%;
  margin-right: 9%;
  margin-top: 2%;
  float: right;
  height: 240px;
  background: #333333;
}
.rightPanelDesc {
  width: 55%;
  margin: 2%;
  float: right;
}
.aircraftselector {
  padding: 1%;
}
.projectConnect {
  text-align: center;
  position: absolute;
  top: 20%;
  right: 14%;
}
table {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.lastConfigPanel {
  display: inline-block;
  margin: 1%;
  vertical-align: middle;
  width: 48%;
  height: 350px;
  padding: 4%;
  border: 1px solid white;
  background: #333333;
  color: white;
}
.newConfigPanel {
  display: inline-block;
  margin: 1%;
  vertical-align: middle;
  width: 48%;
  height: 350px;
  padding: 2%;
  background: #1B96D1;
  color: white;
}
.newsPanel {
  position: relative;
  border: solid 1px;
  margin: 1%;
  width: 98%;
  height: 48%;
}
.newsPanelCT {
  position: relative;
  margin: 1%;
  width: 48%;
  height: 300px;
  float: left;
  background: #C2C2C2;
  color: black;
}
.customerPanelCT {
  position: relative;
  margin: 1%;
  width: 48%;
  height: 300px;
  float: right;
  background: #C2C2C2;
  color: black;
}
.newsFeedInline {
  display: inline-block;
  margin: 1%;
  vertical-align: middle;
  width: 22%;
}
.newsFeedInlineCT {
  display: inline-block;
  margin: 1%;
  vertical-align: middle;
  width: 44%;
}
.menu {
  padding-left: 0%;
  margin: 1%;
  background: #486677;
}
.menu > li {
  display: inline;
}
.price {
  position: absolute;
  right: 20px;
  top: 195px;
  z-index: 5;
  border-bottom: 4px solid #486677;
}
.priceback {
  color: #002059;
  font-size: 20px;
  text-align: center;
  font-size: 18px;
}
.globalprice {
  position: absolute;
  right: 2px;
  font-size: 18px;
  text-align: center;
}
.globalpriceback {
  color: white;
  padding: 18px;
  font-size: 18px;
}
.popoverElements {
  border-bottom: 1px solid #E42424;
}
.rightNewConfig {
  float: right;
  width: 80%;
  display: inline-block;
  padding: 5px;
  border-left: 1px solid white;
}
.aircraftImages {
  width: 21%;
  margin: 2%;
}
.aircraftImagesSelected {
  width: 21%;
  border: solid 1px white;
  margin: 2%;
}
.companyImages {
  width: 10%;
  margin: 1%;
}
.companyImagesSelected {
  width: 10%;
  border: solid 1px black;
  margin: 1%;
}
.NewsImages {
  width: 60%;
}
.imageConfDesc {
  width: 225px;
  height: 240px;
}
.aircraftSelectedImage {
  display: inline-block;
  margin: 1%;
  border: 1px solid white;
  vertical-align: middle;
  width: 48%;
  height: 50%;
}
.imagesSystems {
  width: 100%;
  height: 300px;
  margin: auto;
}
.imagewrap {
  display: inline-block;
  position: relative;
  width: 100%;
}
.buttonI {
  position: absolute;
  bottom: 3px;
  right: 3px;
}
.priceDollars {
  position: absolute;
  top: 0;
  right: 0;
}
.pricecontent {
  position: absolute;
  top: 35px;
  right: 10px;
  z-index: 10;
}
.buttonYes {
  position: absolute;
  top: 5%;
  left: 0;
}
.PanelCustomer {
  position: absolute;
  bottom: 0;
  background: #333333;
  opacity: 0.8;
  width: 100%;
  height: 10%;
}
.panel-default > .panel-heading {
  background-color: #486677;
  color: white;
}
.panel-group .panel {
  margin-bottom: 0;
  border-radius: 4px;
  background: #3E4C55;
}
.CloseButton {
  position: absolute;
  top: 3%;
  right: 3%;
  cursor: pointer;
}
.seatsInput {
  position: absolute;
  z-index: 10;
  color: white;
  border: none;
  background: none;
  width: 30px;
  height: 30px;
  text-align: center;
  background-image: url("../img/fondBleu.png");
}
.ValidateButton {
  float: right;
  background: #497C9B;
  color: white;
}
.ValidateButton__margin {
  margin-left: 10px;
  margin-right: 10px;
}
.ValidateButton__marginAll {
  margin: 10px;
}
.ValidateButton:hover {
  background: #FF910A;
  color: white;
}
.selectConfStyle {
  position: relative;
  top: -7px;
  left: -6px;
  background-position: 0% 20%;
  height: 50px;
  width: 150px;
  background-image: url("../img/source/BLOC-SELECT.png");
}
.selectConfStyle span {
  left: 50px;
  position: absolute;
  top: 12px;
}
.selectedElement {
  font-weight: 700;
  text-decoration: underline;
  color: #FF910A;
}
.DotSelector {
  position: absolute;
  bottom: 13%;
  right: 10px;
}
.dotimg {
  cursor: pointer;
  display: inline-block;
  color: #46a9f1 !important;
  font-size: 12px;
  font-weight: bold;
  margin-left: 3px;
  line-height: 15px;
  text-align: center;
  width: 16px;
  height: 16px;
  background: #000000;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.dotimgActive {
  background: rgba(0, 0, 0, 0.43);
  color: #fff !important;
}
input[type=checkbox] {
  position: relative;
  visibility: hidden;
  cursor: pointer;
}
input[type=checkbox]:after {
  display: block;
  content: "";
  position: absolute;
  top: -5px;
  left: -3px;
  visibility: visible;
  height: 20px;
  line-height: 20px;
  width: 20px;
  text-align: center;
  border-radius: 4px;
  background: #486677;
  border: 1px solid white;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
input[type=checkbox]:checked:after {
  content: "\2714";
  background: #3399CC;
}
#dock img {
  width: 64px;
  height: 64px;
  -webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(255, 255, 255, 0.5)));
  /* reflection is supported by webkit only */
  -webkit-transition: all 0.3s;
  -webkit-transform-origin: 50% 100%;
}
#dock img:hover {
  -webkit-transform: scale(2);
  margin: 0 2em;
}
#dock img:hover + img,
#dock img.prev {
  -webkit-transform: scale(1.5);
  margin: 0 1.5em;
}
/* rotate In #1 */
.hover00 {
  -webkit-transform: scale(1);
  transform: scale(1) rotateX(0deg);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.hover00:hover {
  -webkit-transform: scale(1);
  transform: scale(1) rotateX(20deg);
}
/* zoom In #1 */
.hover01 {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.hover01:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* Shine */
.hover14 {
  position: relative;
}
.hover14::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.hover14:hover::before {
  -webkit-animation: shine .75s;
  animation: shine .75s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
/* Gray Scale */
.hover08 {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.hover08:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
/* Blur */
.hover07 {
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.hover07:hover {
  -webkit-filter: blur(0);
  filter: blur(0);
}
/* Flashing */
.hover13:hover {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}
@-webkit-keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}
@font-face {
  font-family: HelveticaNeue;
  src: url("../fonts/HelveticaNeueLTStd Lt.otf");
}
html,
body,
#wrapper,
#page-content-wrapper {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: #333333;
  color: white;
  font-family: "HelveticaNeue";
}
hr {
  margin: 0;
  border-top: 1px solid white;
}
.commercialSelect {
  border: 1px solid #ccc;
  color: white;
  -moz-appearance: none;
  appearance: none;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
  background: #FF910A;
}
.commercialSelect > option {
  background: #FF910A !important;
}
select {
  border: 1px solid #ccc;
  color: white;
  -moz-appearance: none;
  appearance: none;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
  background: #486677;
}
select > option {
  background: #486688;
}
dt,
kbd kbd,
label {
  font-weight: 100;
}
.input {
  background: #497C9B;
  width: 40px;
  border-radius: 4px;
  border-color: white;
  color: white;
  text-align: center;
  margin-left: 2px;
}
.NameConfig {
  background: #497C9B;
  width: 260px;
  border-radius: 4px;
  border-color: white;
  color: white;
}
.logo {
  border-bottom: 1px solid #FFFFFF;
  padding: 10px;
}
.connect {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  background-image: url('../img/src/AvionsBG.png');
  background-repeat: no-repeat;
}
.inputLogin {
  border-radius: 5px;
  border-color: #537DA5;
  background-color: #537DA5;
  margin: 3px;
  color: white;
}
.inputPassword {
  border-radius: 5px;
  border-color: #537DA5;
  background-color: #537DA5;
  margin: 3px;
  color: white;
}
.popover {
  position: absolute;
  display: none;
  background: #fff;
  border: 1px solid #999;
  padding: 10px;
  width: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
table {
  color: white;
  width: 100%;
}
th,
td {
  border-top: 5px solid #3E4C55;
  border-bottom: 5px solid #3E4C55;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  background: #333333;
  padding-left: 8px;
  padding-right: 8px;
}
tr {
  font-size: 16px;
}
.configTable {
  border: none;
  color: white;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.configTable th,
.configTable td {
  border: none;
  color: white;
  background: none;
  padding-left: 8px;
  padding-right: 8px;
  text-align: right;
}
.configTable tr {
  font-size: 16px;
  height: 35px;
}
.tdSolidBorder {
  border-right: 3px solid white !important;
  padding-left: 2px;
}
.tdSolidBorderLeft {
  border-right: 3px solid white !important;
  padding-left: 2px;
  text-align: left !important;
}
.modal-dialog {
  width: 97%;
  margin: 10px 30px 0px 30px;
}
.backgroundTitle {
  background: #3399CC;
  height: 30px;
}
.choicesPanel {
  padding-bottom: 5px;
  background: #486677;
}
.panel-group {
  margin: 1%;
}
.commercialPackageSize {
  font-size: 16px;
  position: relative;
  margin: 2%;
  top: 3px;
}
