.leftPanelFlight {
  width: 25%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  float: left;
}
.leftPanel {
  width: 40%;
  margin-left: 1%;
  margin-right: 5%;
  margin-top: 2%;
  float: left;
}
.leftPanelDesc {
  width: 40%;
  float: left;
}
.rightPanel {
  width: 45%;
  margin-right: 9%;
  margin-top: 2%;
  float: right;
  height: 240px;
  background: #333333;
}
.rightPanelDesc {
  width: 55%;
  margin: 2%;
  float: right;
}
.aircraftselector {
  padding: 1%;
}
.projectConnect {
  text-align: center;
  position: absolute;
  top: 20%;
  right: 9.5%;
}
table {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.lastConfigPanel {
  display: inline-block;
  margin: 1%;
  vertical-align: middle;
  width: 48%;
  height: 350px;
  padding: 4%;
  border: 1px solid white;
  background: #333333;
  color: white;
}
.newConfigPanel {
  display: inline-block;
  margin: 1%;
  vertical-align: middle;
  width: 48%;
  height: 350px;
  padding: 2%;
  padding-left: 1%;
  background: #1B96D1;
  color: white;
}
.newsPanel {
  position: relative;
  border: solid 1px;
  margin: 1%;
  width: 98%;
  height: 48%;
}
.newsPanelCT {
  position: relative;
  margin: 1%;
  width: 48%;
  height: 300px;
  float: left;
  background: #C2C2C2;
  color: black;
}
.newsPanelCTAirlines {
  position: relative;
  margin: 1%;
  width: 98%;
  float: left;
  background: #C2C2C2;
  color: black;
}
.customerPanelCT {
  position: relative;
  margin: 1%;
  width: 48%;
  height: 300px;
  float: right;
  background: #C2C2C2;
  color: black;
}
.newsFeedInline {
  display: inline-block;
  margin: 1%;
  vertical-align: middle;
  width: 22%;
}
.newsFeedInlineCT {
  display: inline-block;
  margin: 1%;
  margin-top: 7%;
  vertical-align: middle;
  width: 58%;
}
.textNews {
  float: right;
  width: 38%;
}
.menu {
  padding-left: 0%;
  margin: 1%;
  background: #486677;
}
.menu > li {
  display: inline;
}
.price {
  position: absolute;
  right: 20px;
  top: 195px;
  z-index: 5;
  border-bottom: 4px solid #486677;
}
.priceback {
  color: #002059;
  text-align: right;
  font-size: 18px;
}
.globalprice {
  position: absolute;
  right: 14px;
  font-size: 18px;
  text-align: center;
}
.globalpriceback {
  color: white;
  padding: 18px;
  font-size: 18px;
  padding-bottom: 6px !important;
  padding-right: 0px;
  width: 300px;
  border-bottom: 5px solid white;
  text-align: right;
}
.popoverElements {
  border-bottom: 1px solid #E42424;
}
.rightNewConfig {
  float: right;
  width: 75%;
  display: inline-block;
  padding: 10px;
  padding-bottom: 0px;
  border-left: 1px solid white;
}
.aircraft320330 {
  margin-left: 5%;
}
.aircraft350380 {
  margin-left: 18%;
}
.aircraftImages {
  width: 31%;
  margin: 2%;
}
.aircraftImagesSelected {
  width: 51%;
  margin: auto;
  display: block;
}
.companyImages {
  width: 10%;
  margin: 1%;
}
.companyImagesSelected {
  width: 10%;
  border-bottom: solid 1px white;
  margin: 1%;
  padding-bottom: 5px;
}
.imageConfDesc {
  width: 225px;
  height: 240px;
}
.aircraftSelectedImage {
  display: inline-block;
  margin: 1%;
  border: 1px solid white;
  vertical-align: middle;
  width: 48%;
  height: 50%;
}
.imagesSystems {
  width: 100%;
  height: 300px;
  margin: auto;
}
.imagewrap {
  display: inline-block;
  position: relative;
  width: 49%;
  margin: 0.5%;
}
.buttonI {
  position: absolute;
  bottom: 0px;
  right: 3px;
}
.priceDollars {
  position: absolute;
  top: 0;
  right: 0;
}
.pricecontent {
  position: absolute;
  top: 35px;
  right: 13px;
  z-index: 10;
}
.buttonYes {
  position: absolute;
  font-size: 20px;
  top: 25%;
  left: 1%;
  width: 60%;
  background: rgba(77, 142, 180, 0.7);
  padding: 10px;
  padding-left: 5px;
}
.PanelCustomerHead {
  position: absolute;
  top: 0;
  background: #FF910A;
  width: 100%;
  height: 10%;
}
.PanelCustomerfooter {
  position: absolute;
  bottom: 0;
  background: #333333;
  opacity: 0.8;
  width: 100%;
  height: 10%;
  text-align: right;
}
.panel-default > .panel-heading {
  background-color: #4D8EB4;
  color: white;
}
.panel-default {
  border-color: rgba(111, 111, 111, 0);
}
.panel-heading {
  padding: 10px 0px 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel-group .panel {
  margin-bottom: 0;
  border-radius: 4px;
  background: #3E4C55;
}
.CloseButton {
  position: absolute;
  right: 1%;
  top: 5%;
  cursor: pointer;
}
.seatsInput {
  position: absolute;
  z-index: 10;
  color: white;
  border: none;
  background: none;
  width: 30px;
  height: 30px;
  text-align: center;
  background-image: url("../img/fondBleu.png");
}
.seatsInput_total {
  position: absolute;
  z-index: 10;
  color: white;
  border: none;
  background: none;
  width: 30px;
  height: 30px;
  text-align: center;
}
.ValidateButton {
  float: right;
  background: #497C9B;
  color: white;
  border-radius: 0;
}
.ValidateButton__margin {
  margin-left: 10px;
  margin-right: 10px;
}
.ValidateButton__marginAll {
  margin: 10px;
}
.ValidateButton:hover {
  background: #FF910A;
  color: white;
}
.selectConfStyle {
  position: relative;
  top: -7px;
  left: -6px;
  background-position: 0% 20%;
  height: 50px;
  width: 150px;
  background-image: url("../img/source/BLOC-SELECT.png");
}
.selectConfStyle span {
  left: 50px;
  position: absolute;
  top: 12px;
}
.selectedElement {
  font-weight: 700;
  text-decoration: underline;
  color: #FF910A;
}
.DotSelector {
  position: absolute;
  bottom: 13%;
  right: 10px;
}
.dotimg {
  cursor: pointer;
  display: inline-block;
  color: #46a9f1 !important;
  font-size: 12px;
  font-weight: bold;
  margin-left: 3px;
  line-height: 15px;
  text-align: center;
  width: 16px;
  height: 16px;
  background: #000000;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.dotimgActive {
  background: rgba(0, 0, 0, 0.43);
  color: #fff !important;
}
input[type=checkbox] {
  position: relative;
  visibility: hidden;
  cursor: pointer;
}
input[type=checkbox]:after {
  display: block;
  content: "";
  position: absolute;
  top: -5px;
  left: -3px;
  visibility: visible;
  height: 20px;
  line-height: 20px;
  width: 20px;
  text-align: center;
  border-radius: 4px;
  background: #486677;
  border: 1px solid white;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
input[type=checkbox]:checked:after {
  content: "\2714";
  background: #3399CC;
}
input[type=checkbox][id=runway]:after,
input[type=checkbox][id=headUp]:after,
input[type=checkbox][id=atsaw]:after,
input[type=checkbox][id=dualAdf]:after,
input[type=checkbox][id=gls]:after,
input[type=checkbox][id=fls]:after {
  display: block;
  content: "";
  position: absolute;
  top: -5px;
  left: -3px;
  visibility: visible;
  height: 20px;
  line-height: 20px;
  width: 20px;
  text-align: center;
  border-radius: 4px;
  background: none;
  border: 1px solid white;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
input[type=checkbox][id=runway]:checked:after,
input[type=checkbox][id=headUp]:checked:after,
input[type=checkbox][id=atsaw]:checked:after,
input[type=checkbox][id=dualAdf]:checked:after,
input[type=checkbox][id=gls]:checked:after,
input[type=checkbox][id=fls]:checked:after {
  content: "\2714";
  background: none;
}
#dock img {
  width: 64px;
  height: 64px;
  -webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(255, 255, 255, 0.5)));
  /* reflection is supported by webkit only */
  -webkit-transition: all 0.3s;
  -webkit-transform-origin: 50% 100%;
}
#dock img:hover {
  -webkit-transform: scale(2);
  margin: 0 2em;
}
#dock img:hover + img,
#dock img.prev {
  -webkit-transform: scale(1.5);
  margin: 0 1.5em;
}
/* rotate In #1 */
.hover00 {
  -webkit-transform: scale(1);
  transform: scale(1) rotateX(0deg);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.hover00:hover {
  -webkit-transform: scale(1);
  transform: scale(1) rotateX(20deg);
}
/* zoom In #1 */
.hover01 {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.hover01:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* Shine */
.hover14 {
  position: relative;
}
.hover14::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.hover14:hover::before {
  -webkit-animation: shine .75s;
  animation: shine .75s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
/* Gray Scale */
.hover08 {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.hover08:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
/* Blur */
.hover07 {
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.hover07:hover {
  -webkit-filter: blur(0);
  filter: blur(0);
}
/* Flashing */
.hover13:hover {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}
@-webkit-keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}
#slider {
  display: block;
  height: 350px;
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
}
#slider #slides {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  margin-top: -5px;
}
#slider #slides > div {
  list-style: none;
  height: 100%;
  width: 500%;
  position: relative;
  left: 0px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* Set 3D perspective since we're using 3D transforms */
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px;
  -webkit-perspective-origin: 10% 50%;
  -moz-perspective-origin: 10% 50%;
  perspective-origin: 10% 50%;
}
#slides > div > span {
  /* Run the tranistions */
  -webkit-transition: all 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -moz-transition: all 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -o-transition: all 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  height: 320px;
  width: 10%;
  float: left;
  border-radius: 5px;
  opacity: 1;
  overflow: hidden;
  display: block;
  position: relative;
  font-size: 1.6em;
  top: 20px;
  z-index: 1;
}
/* Display none, so the user doesn't see whats happening with the radio buttons */
#slider input[type=radio] {
  display: none;
}
#slider #slides > div > span > img {
  margin: auto;
  height: 100%;
}
/* Style the arrows so they look nice! */
#slider .arrows {
  position: absolute;
  top: 290px;
  display: none;
  z-index: 9999;
  /*  width: 29px;
	height: 25px;
	border-radius: 32px;
	text-align: center;
	padding: 3px 0 0 0px;
    background: black;
    box-shadow: 0 0 20px rgba(200, 235, 248, 0.98), inset 0px 11px 24px -8px rgba(255,255,255,0.4);*/
}
#slider .description {
  color: white;
  position: absolute;
  top: 90px;
  left: 10px;
  z-index: 9999;
  width: 300px;
  font-size: 16px;
  padding: 10px;
  background: rgba(77, 142, 180, 0.6);
}
#slider .warning {
  color: white;
  position: absolute;
  top: 90px;
  left: 10px;
  z-index: 9999;
  width: 300px;
  text-align: center;
  background: rgba(77, 142, 180, 0.6);
}
/* The info boxes */
#slides .info {
  width: 100%;
  padding: 20px 20px 25px 20px;
  position: relative;
  bottom: 120px;
  border-radius: 5px 5px 0 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  -webkit-transition: all 1s 0.2s cubic-bezier(1, 0, 0.6, 1);
  transition: all 1s 0.2s cubic-bezier(1, 0, 0.6, 1);
  color: #fff;
  font-weight: bold;
  background-color: rgba(30, 30, 30, 0.6);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  line-height: 30px;
}
#slides .info strong {
  padding: 3px 0;
}
#slides .info em {
  font-size: 0.8em;
  float: right;
  padding-top: 4px;
  color: rgba(255, 255, 255, 0.6);
}
/* This is for positioning the arrows */
#button-1:checked ~ #arrow-2,
#button-1bis:checked ~ #arrow-2,
#button-2:checked ~ #arrow-3,
#button-3:checked ~ #arrow-4,
#button-3:checked ~ #arrow-4bis,
#button-4:checked ~ #arrow-5,
#button-4bis:checked ~ #arrow-5,
#button-4:checked ~ #arrow-6,
#button-4bis:checked ~ #arrow-6 {
  right: 27%;
  display: block;
}
/* Since there is no previous sibling selector in CSS, we have to select the correct arrow, reposition it and rotate it 180deg so it appears as though it's a back arrow */
#button-2:checked ~ #arrow-1,
#button-2:checked ~ #arrow-1bis,
#button-3:checked ~ #arrow-2,
#button-4:checked ~ #arrow-3,
#button-4bis:checked ~ #arrow-3,
#button-5:checked ~ #arrow-4,
#button-5:checked ~ #arrow-4bis,
#button-6:checked ~ #arrow-4,
#button-6:checked ~ #arrow-4bis {
  left: 27%;
  display: block;
  -webkit-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
/* The images used in the slides, feel free to change this */
#image-1 {
  background: url('../img/1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
#image-1bis {
  background: url('../img/1bis.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
#image-2 {
  background: url('../img/2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
#image-3 {
  background: url('../img/3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
#image-4 {
  background: url('../img/4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
#image-4bis {
  background: url('../img/4bis.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
#image-5 {
  background: url('../img/5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
#image-6 {
  background: url('../img/6.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
/* The next bit is a bit wordy, but it just positions the slides at either side of the selected slide
   so we get a cool 3D effect */
#slider #button-1:checked ~ #slides > div #image-2,
#slider #button-1:checked ~ #slides > div #image-3,
#slider #button-1bis:checked ~ #slides > div #image-2,
#slider #button-1bis:checked ~ #slides > div #image-3,
#slider #button-1:checked ~ #slides > div #image-4,
#slider #button-1:checked ~ #slides > div #image-5,
#slider #button-1bis:checked ~ #slides > div #image-4,
#slider #button-1bis:checked ~ #slides > div #image-5,
#slider #button-2:checked ~ #slides > div #image-3,
#slider #button-2:checked ~ #slides > div #image-4,
#slider #button-2:checked ~ #slides > div #image-3,
#slider #button-2:checked ~ #slides > div #image-4bis,
#slider #button-2:checked ~ #slides > div #image-5,
#slider #button-3:checked ~ #slides > div #image-4,
#slider #button-2:checked ~ #slides > div #image-5,
#slider #button-3:checked ~ #slides > div #image-4bis,
#slider #button-3:checked ~ #slides > div #image-5,
#slider #button-4:checked ~ #slides > div #image-5,
#slider #button-3:checked ~ #slides > div #image-5,
#slider #button-4bis:checked ~ #slides > div #image-5,
#slider #button-3:checked ~ #slides > div #image-6,
#slider #button-4:checked ~ #slides > div #image-6,
#slider #button-3:checked ~ #slides > div #image-6,
#slider #button-4bis:checked ~ #slides > div #image-6 {
  -webkit-transform: rotateY(-10deg) scale(0.8) translateX(-10%);
  transform: rotateY(-10deg) scale(0.8) translateX(-10%);
  z-index: 0;
}
#slider #button-2:checked ~ #slides > div #image-1,
#slider #button-3:checked ~ #slides > div #image-2,
#slider #button-2:checked ~ #slides > div #image-1bis,
#slider #button-3:checked ~ #slides > div #image-2,
#slider #button-3:checked ~ #slides > div #image-1,
#slider #button-4:checked ~ #slides > div #image-3,
#slider #button-3:checked ~ #slides > div #image-1bis,
#slider #button-4bis:checked ~ #slides > div #image-3,
#slider #button-4:checked ~ #slides > div #image-2,
#slider #button-4:checked ~ #slides > div #image-1,
#slider #button-4bis:checked ~ #slides > div #image-2,
#slider #button-4bis:checked ~ #slides > div #image-1,
#slider #button-5:checked ~ #slides > div #image-4,
#slider #button-5:checked ~ #slides > div #image-3,
#slider #button-6:checked ~ #slides > div #image-4bis,
#slider #button-6:checked ~ #slides > div #image-3,
#slider #button-6:checked ~ #slides > div #image-4,
#slider #button-6:checked ~ #slides > div #image-3,
#slider #button-5:checked ~ #slides > div #image-4bis,
#slider #button-5:checked ~ #slides > div #image-3,
#slider #button-5:checked ~ #slides > div #image-2,
#slider #button-5:checked ~ #slides > div #image-1,
#slider #button-6:checked ~ #slides > div #image-2,
#slider #button-6:checked ~ #slides > div #image-1 {
  -webkit-transform: rotateY(10deg) scale(0.8) translateX(10%);
  transform: rotateY(10deg) scale(0.8) translateX(10%);
  z-index: 0;
}
/* Show the info box when the user selects the slides */
#slider #button-1:checked ~ #slides > div #image-1 .info,
#slider #button-1bis:checked ~ #slides > div #image-1bis .info,
#slider #button-2:checked ~ #slides > div #image-2 .info,
#slider #button-3:checked ~ #slides > div #image-3 .info,
#slider #button-4:checked ~ #slides > div #image-4 .info,
#slider #button-4bis:checked ~ #slides > div #image-4bis .info,
#slider #button-5:checked ~ #slides > div #image-5 .info,
#slider #button-6:checked ~ #slides > div #image-6 .info {
  bottom: 0px;
}
/* .. and finally, move the slides into the correct position when the user clicks the arrow, so the right
   slide is selected */
#slider #button-1:checked ~ #slides > div > span {
  left: 5%;
}
#slider #button-1bis:checked ~ #slides > div > span {
  left: 5%;
}
#slider #button-2:checked ~ #slides > div > span {
  left: -5%;
}
#slider #button-3:checked ~ #slides > div > span {
  left: -15%;
}
#slider #button-4:checked ~ #slides > div > span {
  left: -25%;
}
#slider #button-4bis:checked ~ #slides > div > span {
  left: -25%;
}
#slider #button-5:checked ~ #slides > div > span {
  left: -35%;
}
#slider #button-6:checked ~ #slides > div > span {
  left: -35%;
}
@font-face {
  font-family: HelveticaNeue;
  src: url("../fonts/HelveticaNeueLTStd Lt.otf");
}
html,
body,
#wrapper,
#page-content-wrapper {
  color: white;
  font-family: "HelveticaNeue";
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  background-image: url('../img/src/AvionsBG.png');
}
hr {
  margin: 0;
  border-top: 1px solid white;
}
.h4Title {
  font-size: 18px;
  margin: 0;
  padding: 10px;
  background-color: #FF910A;
}
.commercialSelect {
  border: 1px solid #ccc;
  color: white;
  -moz-appearance: none;
  appearance: none;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
  background: #FF910A;
}
.commercialSelect > option {
  background: #FF910A !important;
}
select {
  border: 1px solid #ccc;
  color: white;
  -moz-appearance: none;
  appearance: none;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
  background: #486677;
}
select > option {
  background: #486688;
}
dt,
kbd kbd,
label {
  font-weight: 100;
}
.input {
  background: #497C9B;
  width: 40px;
  border-radius: 4px;
  border-color: white;
  color: white;
  text-align: center;
  margin-left: 2px;
}
.NameConfig {
  background: #497C9B;
  width: 240px;
  border-color: white;
  color: white;
  border: 1px solid;
}
.logo {
  border-bottom: 1px solid #FFFFFF;
  padding: 10px;
}
.connect {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  background-image: url('../img/src/AvionsBG.png');
  background-repeat: no-repeat;
}
.inputLogin {
  border: 1px solid white;
  background-color: white;
  margin: 3px;
  color: black;
  width: 300px;
}
.inputPassword {
  border: 1px solid white;
  background-color: white;
  margin: 3px;
  color: black;
  width: 300px;
}
.popover {
  position: absolute;
  display: none;
  background: #fff;
  border: 1px solid #999;
  padding: 10px;
  width: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
table {
  color: white;
  width: 100%;
}
th,
td {
  border-top: 5px solid #3E4C55;
  border-bottom: 5px solid #3E4C55;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  background: #333333;
  padding-left: 8px;
  padding-right: 8px;
}
tr {
  font-size: 16px;
}
.configTable {
  border: none;
  color: white;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.configTable th,
.configTable td {
  border: none;
  color: white;
  background: none;
  padding-left: 8px;
  padding-right: 8px;
  text-align: right;
}
.configTable tr {
  font-size: 16px;
  height: 35px;
}
.tdSolidBorder {
  border-right: 3px solid white !important;
  padding-left: 2px;
}
.tdSolidBorderLeft {
  border-right: 3px solid white !important;
  padding-left: 2px;
  text-align: left !important;
}
.modal-dialog {
  width: 97%;
  margin: 10px 30px 0px 30px;
}
.backgroundTitle {
  background: #3399CC;
  height: 30px;
}
.choicesPanel {
  padding-bottom: 5px;
  background: #486677;
}
.panel-group {
  margin: 1%;
}
.commercialPackageSize {
  font-size: 18px;
  position: relative;
  margin: 2%;
  top: 3px;
}
.capitalize {
  text-transform: capitalize;
}
.upperCase {
  text-transform: uppercase;
}
