input[type=checkbox] {
    position: relative;
    visibility: hidden;
    cursor: pointer;
}

input[type=checkbox]:after {
    display: block;
    content: "";
    position: absolute;
    top: -5px;
    //right: 3px;
    left:-3px;
    visibility: visible;
    height: 20px;
    line-height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 4px;
    background: #486677;
    border: 1px solid white;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

input[type=checkbox]:checked:after {
    content: "\2714";
    background: #3399CC;
}
