.aircraftImages{
  width : 31%;
  margin : 2%;
}


.aircraftImagesSelected{
  width : 51%;
  margin : auto;
  display:block;
}

.companyImages{
  width : 10%;
  margin : 1%;
}


.companyImagesSelected{
  width : 10%;
  border-bottom : solid 1px white;
  margin : 1%;
  padding-bottom:5px;
}

.imageConfDesc{
  width:95%;
  height:240px;
}

.aircraftSelectedImage{
  display:inline-block;
  margin:1%;
  border: 1px solid white;
  vertical-align:middle;
  width:48%;
  height:50%;
}


.imagesSystems{
  width:100%;
  height:300px;
  margin:auto
}
